.section {
  margin-block: 2rem;
}

.header {
  padding-inline: 1rem;

  p {
    opacity: 50%;
  }
}

.items {
  display: flex;
  flex-direction: column;

  padding-inline: 1rem;
}

.item {
  padding-bottom: 15px;

  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  column-gap: 15px;

  .emojiContainer {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    grid-row: 1 / 3;

    background-color: #ffffff10;
    border-radius: 1rem;

    h1 {
      font-size: 2rem;
    }
  }

  p {
    opacity: 50%;
  }
}

.item:not(:first-child) {
  padding-block: 15px;

  border-top: 1px solid #ffffff2c;
}
