.header {
  padding-inline: 1rem;

  margin-top: 50px;
  margin-bottom: 20px;
}

.items {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-inline: 1rem;
}

.item {
  background-color: #fff;

  display: flex;
  column-gap: 15px;
  align-items: center;

  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 1px 30px -10px rgba(0, 0, 0, 0.1);

  .emojiContainer {
    margin-inline: 5px;

    h1 {
      font-size: 2.5rem;
    }
  }

  .text {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .info {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 10px;

      background-color: #fffccf;
      color: #cbab1d;

      padding: 10px;
      border-radius: 15px;

      h5 {
        font-weight: 400;
      }

      svg {
        width: 15px;

        opacity: 50%;
      }
    }
  }

  p {
    font-weight: 500;

    span {
      opacity: 50%;

      font-weight: 400;
    }
  }
}
