.navbar {
  position: sticky;
  top: 0;

  padding-top: 15px;

  div {
    padding-inline: 1rem;
  }
  div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div > p {
    opacity: 50%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-inline: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;

  padding: 15px;

  border: 1px solid #ffffff2c;
  border-radius: 10px;

  p:nth-last-child(2) {
    color: rgb(255, 255, 255, 50%);
    padding: 10px;

    background-color: #00000025;
    border-radius: 5px;
  }

  img {
    width: 100%;
    border-radius: 5px;

    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  aside {
    .header {
      margin-bottom: 15px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price {
        background-color: #ffffff21;

        padding: 3px 6px;
        border-radius: 5px;
      }
    }

    .attributes {
      margin-top: 15px;

      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .attribute {
        padding: 3px 0 3px 6px;

        background-color: #00000017;
        border: 1px solid #00000067;

        border-radius: 5px;

        span {
          padding: 3px 6px;
          margin-left: 6px;

          background-color: #00000067;

          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .item {
    grid-template-columns: 1fr;

    img {
      aspect-ratio: auto;
    }
  }
}
