.header {
  padding-inline: 1rem;

  margin-top: 50px;
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding-inline: 1rem;
}

.item {
  a {
    display: block;

    color: #2f76ff;
    background-color: #2f76ff10;

    border-radius: 10px;

    padding: 8px 20px;

    font-weight: 500;
  }
}
